.speechBubble {
  /* It's important we are inside of a relatively positioned parent here */
  position: absolute;
  padding: 15px;
  color: #fff;
  background: #075698;
  border-radius: 10px;
  left: 110px;
  top: 30px;
  opacity: 0;
  pointer-events: none;
}

.speechBubble:after {
  content: '';
  position: absolute;
  top: 16px;
  left: -40px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: transparent #075698;
  display: block;
  border-width: 15px 40px 0 0;
}

.showMessage {
  animation: showMessage 3s linear;
}

.profileAvatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-bottom: 0px;
  margin-right: 10px;
}

@media only screen and (max-device-width: 375px) {
  .profileAvatar {
    display: none;
  }
}

@keyframes showMessage {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  45% {
    opacity: 1;
    transform: translateX(-5px);
  }
  85% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
